# Rohdaten / Quellen – nicht Teil der Webapp
Zielvereinbarung*.xlsx
~$*.xlsx
TURN.png
Goals_for_Gold_neg.png
Goals_for_Gold_pos.png
My_Swiss-Ski_Logo_RGB_Weiss_negativ 2.png
my-swiss-ski.png
.DS_Store
